@model StudentAnswersTable

<div class="EvaluateContainer" >
	@EvaluateButtons.RadioButtonsForQuestionOne();
</div>

<div class="EvaluateContainer" >
	@Html.Raw(EvaluationDLL.EvaluateButtons.RadioButtonsForQuestionTwo());
</div>