



<div class = "TitleIndex">
    <div class = "Title">
    <h1>Register Account</h1>
</div>

<div class = "ButtonLinks">
    <a asp-controller="Register" asp-action="RegisterStudent" class = "btn"> As Student </a>
    <a asp-controller="Register" asp-action="RegisterProfessor" class = "btn"> As Professor </a>
</div>

</div>
