@model StudentAnswersTable

<form method="post">

        <div class="TitleEval">
            <h2>Evaluation Form</h2>
        </div>

        <div class="form-group StudentNumber">
            <label class="col-form-label col-form-label-lg mt-4">Student Number:</label>
            <input class="form-control form-control-lg custom-input" type="text" asp-for="studentFK" placeholder="2021XXXXXX">
        </div>

        <label class = "questions"> 1. The teacher effectively communicated complex concepts and ideas to students. </label>
        <partial name = "_Evaluate" />

        <label class = "questions"> 2. The teacher created a supportive and inclusive classroom environment for all students. </label>
        <partial name = "_Evaluate" />

        <label class = "questions"> 3. The teacher adapted their teaching methods to meet the diverse learning needs of their students.</label>
        <partial name = "_Evaluate" />

        <label class = "questions"> 4. The teacher was responsive to student questions, concerns, and feedback. </label>
        <partial name = "_Evaluate" />

        <label class = "questions"> 5. The teacher was organized and prepared in delivering their lessons and managing classroom activities. </label>
        <partial name = "_Evaluate" />

</form>

