@model IEnumerable<ProfessorTableModel> 



<div class="Title">
    <h1 class="display-4"> Evaluate </h1>
 </div>

<div class="Layout">
    @foreach (var data in Model)
    {
            <div class="ProfessorItem">
                <div class="ProfessorName">
                    <h2>@data.professorFirstName @data.professorLastName</h2>
                </div>
                <div class="EvaluateButton">
                    <button class="btn btn-primary">Evaluate</button>
                </div>
            </div>
    }
</div>