@model IEnumerable<ProfessorTableModel> 

<partial name = "_Notification" />

<div class="Title">
    <h1 class="display-4"> Evaluate </h1>
 </div>

<div class="Layout">
    @foreach (var data in Model)
    {
            <div class="ProfessorItem">
                <div class="ProfessorName">
                    <h2>@data.professorFirstName @data.professorLastName</h2>
                </div>
                <div class="EvaluateButton">
                    <a asp-controller="Home" asp-action="Evaluate"  asp-route-professorId = "@data.professorId" class ="btn btn-primary">
                        Evaluate
                    </a>
                </div>
            </div>
    }
</div>