html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Home */
.HomeContainer {
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
    align-items:center;
    grid-row-gap:45px;
}


.ProfessorItem {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 30px;
    margin-right: 20px; 
}

.ProfessorName {
    border-bottom:5px solid #ccc; 
    padding-bottom: 10px; 
}

.EvaluateButton {
    padding-top: 10px;
    padding-bottom:10px;
}

.progress{
    margin-top:5px;
    margin-bottom:5px;
    height:5px;
    width:140px;
}

ul{
    list-style-type:none;
}

.card-text{
    padding-top:5px;
}

.ul stats{
    text-align:center;
}
.questions{
    margin-top:12px;
}


.EndButton {
    display: inline-block;
    padding-inline: 12px;
    margin-top: 16px;
    margin-bottom: 12px;
}

/* EVALUATION */
.TitleEval {
    margin-top: 25px;
    text-align: center;
}

.form-group.StudentNumber {
    text-align: center;
}

.form-group.StudentNumber label {
    display: block;
    padding-right:150px;
    margin-bottom: 5px; 
}

.form-group.StudentNumber input {
    max-width: 300px; 
    margin: 0 auto; 
}
.EvaluateContainer {
    display: flex;
    justify-content: center;
}

.form-check-inline {
    display: flex;
    align-items: center;
    margin-top:20px;
    margin-right:20px;
}

input[type=radio] {
    margin-right: 5px;
    padding: 10px;
}

.QuestionsContainer {
    margin-top:34px;
    text-align: center
}
.EndButton{
    width:120px;
}

.endButtond{
    width:120px;
}





















/* FOR REGISTER */
.TitleIndex {
    margin-top: 170px;
}

.Boarder{
    margin-top:25px;
    border: 3px solid #000000;
}

.ButtonLinks {
    text-align: center;
}

.Boarder {
    text-align: center;
}

.Labels {
    padding-top: 25px;
}

.Title{
    padding-top:25px;
    padding-bottom:25px;
    text-align:center;
}

.CreateButton{
    padding-top:25px;
}

